RewriteEngine On

# Eğer dosya veya klasör mevcut değilse ve public'de değilse
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Direkt public klasörüne yönlendirmeler
RewriteRule ^$ public/ [L]